
#start {
  height: 100vh;
  width: 100%;
  overflow: hidden; /* para recortar la imagen si es necesario */
  position: sticky;
  top: 0;
  left: 0;
}
.img{


  position: absolute;
  height: 100vh;
  width: 100%;
}
@media(max-width:768px){

  .img{
    object-fit: cover;

    width: 100%;
    left: 50%;
    transform: translateX(-50%);
  }
}
