<h2 id="h2NP">Nuestras Plataformas</h2>
<h3 id="h3NP">¡Demuestra tus habilidades como docente! Interactúa con un grupo de estudiantes ficticios utilizando diferentes
  recursos y
  estrategias pedagógicas
</h3>

<div id="nuestrasPlataformas">

  <div class="imgSimulation">
    <img src="assets/SimulomseCaptura1.png" alt="">
    <div class="btSimulation">Simulación</div>
    <div class="contenido">
      <h3>SIMULOMSE</h3>
      <p>¡Demuestra tus habilidades como docente! Interactúa con un grupo de estudiantes ficticios utilizando diferentes
        recursos y
        estrategias pedagógicas</p>
    </div>
  </div>
  <div class="imgSimulation">
    <img src="assets/SimulomseCaptura1.png" alt="">
    <div class="btSimulation">Simulación</div>
    <div class="contenido">
      <h3>SIMULOMSE</h3>
      <p>¡Demuestra tus habilidades como docente! Interactúa con un grupo de estudiantes ficticios utilizando diferentes
        recursos y
        estrategias pedagógicas</p>
    </div>
  </div>

</div>

<app-form></app-form>
