@import 'swiper/less';
@import 'swiper/less/navigation';
@import 'swiper/less/pagination';


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Helvetica Neue", Helvetica, Arial;

}

body {
  margin: 0;
}
