.box-one {

  width: 100%;
  height: 9%;
  position: fixed;
  z-index: 9999;

}

nav {

  border-left: 100px;
  width: 40%;
  height: 100%;
  margin: auto;

  /**/


  /**/
}


.menu-horizontal{
  transform: translateX(2%);
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%; /* altura de contenedor */
}
.menu-horizontal li {
  /*centrar */
  list-style: none;
  margin: 14px 0px;
  text-align: center;

}

.menu-horizontal li a {
  color: #ffffff;
  text-decoration: none;
  font-size: 1.4em;


}

header.arriba {
  transition: all 0.5s ease-out;
  background-color: rgba(0, 0, 0, 0);
}

header.abajo {
  transition: all 0.5s ease-out;
  background-color: rgba(0, 0, 0, 0.332);
  backdrop-filter: blur(3px);
}


