

*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
  font-family: "Helvetica Neue",Helvetica,Arial;
}
.box-one{
  background-color: rgba(0, 0, 0, 0);
  width: 100%;
  height: 45px;
  position: fixed;
  z-index: 9999;
}

nav{
  width: 40%;
  height: 100%; ;
  margin:  auto ;
/**/

/**/
}


.menu-horizontal{/*centrar li*/
  display: flex;
  justify-content: space-around;


}



.menu-horizontal li{/*centrar */
  list-style: none;
  margin: 14px 0px  ;
}

.menu-horizontal li a{
  color: #fff;
  text-decoration: none;

}


.contenedor {
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: center; /* centra horizontalmente */
  align-items: stretch; /* mantiene la misma distancia arriba y abajo */
  width: 100%;
  height: 1600px; /* ajusta la altura del contenedor como sea necesario */

}

.elemento {

  align-self: center; /* centra verticalmente el elemento dentro del contenedor */
/**/
}


header.abajo {
  transition: all 0.5s ease-out;
  background-color:rgba(0, 0, 0, 0.412)
}
header.arriba{
  transition: all 0.5s ease-out;
  background-color: rgba(0, 0, 0, 0);
}

.fijo {
  position: fixed;
  top: 0;
  width: 100%;
  height: 80px;

  z-index: 1;
}

.div1{
  width: 100%;
  height: 900px;
  position: sticky;

  top: 0;

}
.EJM1{
  background-color:rgb(182, 96, 177);
  width: 100%;
  height: 1000px;
  position: absolute;
  display: block;

  display: flex;/**/
  justify-content: center;

}

