<header class="box-one arriba" id="box-one">

  <img id="PuntoPymes" src="assets/PuntoPymes.svg" alt="">
  <input type="checkbox" id="check">

  <nav id="nav">
    <ul class="menu-horizontal">
      <li><a routerLinkActive="active" href="#/">Inicio</a></li>
      <li><a routerLinkActive="active" href="#/plataforma">Plataformas</a></li>
      <li><a routerLinkActive="active" href="#/sobreNosotros">Sobre Nosotros</a></li>
      <li><a routerLinkActive="active" href="#/contacto">Contacto</a></li>
    </ul>

  </nav>


  <label id="menu2" for="check">
    <svg style="top: 2px;position: relative;" xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="white"
      class="bi bi-list" viewBox="0 0 16 16">
      <path fill-rule="evenodd"
        d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z" />
    </svg>
  </label>

</header>